<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyh.dao.FundsMapper" >
  <select id="getAllFunds" resultType="com.yyh.pojo.Funds">
    select * from funds order by id
  </select>

  <select id="getFunds_stock" resultType="com.yyh.pojo.Funds">
    select * from funds where fType="股票型" order BY id
  </select>

  <select id="getFunds_bond" resultType="com.yyh.pojo.Funds">
    select * from funds where fType="债券型" order BY id
  </select>

  <select id="getFunds_mix" resultType="com.yyh.pojo.Funds">
    select * from funds where fType="混合型" order BY id
  </select>

  <select id="getFunds_currency" resultType="com.yyh.pojo.Funds">
    select * from funds where fType="货币型" order BY id
  </select>

  <select id="getFunds_index" resultType="com.yyh.pojo.Funds">
    select * from funds where fType="指数型" order BY id
  </select>


</mapper>